.nav-toggle-btn{
    font-size: 40px;
    color: var( --persian-blueDark);
  }


  
  .nav-toggle-btn.active .open,
  .nav-toggle-btn .close{
    display: none;
  } 
  
  .nav-toggle-btn .open,
  .nav-toggle-btn.active .close{
    display: block;
  }