.about{
  background-color: var(--white-2);
}
.about-banner{
  position: relative;
  border-radius: var(--radius-5);
  overflow: hidden;
  margin-block-end: 25px;
}
.play-btn{
  position: absolute;
  top:50%;
  left:50%;
  transform:  translate(-50% , -50%);
  background-color: var(--white-1);
  color: var(--red-crayola);
  font-size:32px;
  padding: 16px;
  border-radius: 50%;
  animation: pulse 1.5s ease-out infinite;
}

@keyframes pulse {
  0% {box-shadow: 0 0 0 1px var( --white-1);}
  100% {box-shadow:  0 0 0 25px transparent;}
}

.about:is(.section-title, .section-text){
  text-align: left;
}

.about .section-title{
  margin-block-end: 5px;
}
.about .section-text:not(:last-child){
  margin-block-end: 18px;
}

.about .h3{
  margin-block-end: 8px;
}
.about-list{
  margin-block: 15px 18px;
}
.about-item{
  display: flex;
  align-items: flex-start;
  gap: 5px;


}
.about-item ion-icon{
  color: var(--red-crayola);
  flex-shrink: 0;
  margin-block-start: 2px;
}
.about-item:not(:last-child)
{
  margin-block-end: 12px;
}
