.hero {
    padding-block-start: calc(var(--section-padding) + 50px);
    text-align: center;
}

.hero-content {
    margin-block-end: 30px;
}

.hero-subtitle {
    color: var(--eerie-black);
    font-size: var(--fs-5);
    font-weight: var(--fw-500);
}

.hero-title {
    margin-block: 12px 8px;
}

.hero-text {
    font-size: var(--fs-5);
}

